@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




@keyframes pulse-glow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(72, 187, 120, 0.4);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(72, 187, 120, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(72, 187, 120, 0.4);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite;
}
